.SearchBar{
    padding: 1rem 1.5rem;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1.5rem;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    
}
@media (max-width:768px){
    .SearchBar{
        width: 60%;
    }
}
      
.input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 1.3rem;
    background-color: transparent;
    color: #777777;
    font-family: "Barlow";
    text-align: center;
}
